.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #edeaea;
    overflow-x: hidden;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.sidenav>div:first-child {
    background-color: #d7d7f3;
    width: 222px;
    height: 222px;
    border-radius: 111px;
    margin: 0 auto;
    padding: 5px;
}

.sidenav>div>img {
    width: 100%;
    margin: auto;
    display: block;
}

.sidenav>div:nth-child(n + 1) {
    margin-top: 15px;
}

.sidenav>div:nth-child(2) {
    font-size: 3rem;
    text-align: center;
}

.sidenav>div:nth-child(3) {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}

.sidenav>div:nth-child(4) {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 15px;
    padding-left: 15px;
}

.sidenav>hr {
    margin: 0 15px;
    color: grey;
    margin-bottom: 15px;
}

.sidenav i {
    font-size: 1.25rem;
    color: #5d5deb;
}

.contact-box {
    padding: 0 0 15px 20px;
    display: grid;
    grid-template-columns: 30px 170px;
}

.sidenav>div:nth-child(n + 5),
.sidenav a {
    text-decoration: none;
    font-size: 1.15rem;
    color: #977575;
}

a[title]:hover::after {
    content: attr(title);
    padding: 4px 8px;
    color: rgb(116, 114, 114);
    position: absolute;
    left: 0; 
    top: 100%;
    white-space: nowrap; 
    z-index: 20;
    border-radius: 5px;   
    background-image: linear-gradient(#eeeeee, #cccccc);  
  }

.sidenav a:hover {
    filter: brightness(50%);
}
